<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Add A New Campground</h1>
  <div class="col-6 offset-3 mb-3">
    <form action="/campgrounds" method="POST" class="validate-form" novalidate enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="mb-3">
        <label for="price-label" class="form-label">Price:</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            id="price"
            class="form-control"
            name="campground[price]"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            required
          />
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      </div>
      
      <div class="input-group mb-3">
        <input type="file" multiple name="image" id="image" class="form-control" >
        <label class="input-group-text custom-file-label" for="image">Blowers</label>
      </div>
      
      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        ></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <button class="btn btn-success">Add New Campground</button>
    </form>
  </div>
</div>


